<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Halo, <%= userLogin.username %></h1>
    <a href="/auth">Cek Autentikasi</a>
    <a href="/logout">Logout</a>
</body>
</html>